body, body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/joga.jpg);
}
.head{
 
}
.menu{
    height: 0;
    display: flex;
    gap:20px;
    list-style-type:none;
    justify-content: end;
    margin-top: 2%;
    margin-right: 30px;
    
}

    .myg {
    display: inline-block;
    text-decoration:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    padding: 5px 15px;
    
    }
    .myg:hover{
    border-bottom: 2px solid red;
    }
    .cont{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    width: 800px;
   
    
     }
.column-left{
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 12%;
    margin-left: 10% ;
    margin-right: 20%;
    
    
  
}

.colortext{
    color: orangered;
} 
.fut{
    font-size: 40px;
    justify-content: space-between;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.rut{
    font-size: 20px;
    justify-content: space-between;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.btn {
    border: 0;
    line-height: 2.5;
    margin-top: 10%;
    margin-right: 65%;
    padding: 0 20px;
    margin-left: 10%;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(220, 81, 0);
    
  }
  .btn:hover{
    background-color: aqua;
  }
  
