body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/joga.jpg);
}
.menu{
    list-style-type:none;
    padding-left: 0;
      
    
    
    }
    .menu a{
    text-decoration:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    display: inline-block;
    padding: 5px 5px;
    border-bottom:5px red;
    }
    .menu li{
        float: right;
       
    }
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20%;
} 
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
